@charset "utf-8";

$btn-bg-color: $link;
$btn-bg-color-hover: darken($link, 8%);
$btn-bg-color-active: darken($btn-bg-color-hover, 5%);
$btn-bg-color-disabled: $grey-lighter;
$btn-bg-color-gray: $grey-light;
$btn-bg-color-gray-hover: darken($grey-light, 8%);
$btn-bg-color-gray-disabled: darken($btn-bg-color-gray-hover, 5%);

$btn-color: $white;
$btn-min-width: 5rem;

@mixin btn-icon {
  .vip-icon {
    margin-right: 0.25rem;
  }
}

.vip-btn {
  @include control;
  @include unselectable;
  @include btn-icon;

  background-color: $btn-bg-color;
  border-width: 0;
  color: $btn-color;
  cursor: pointer;
  height: 1.7rem;
  line-height: 1.7rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-align: center;
  white-space: nowrap;

  strong {
    color: inherit;
  }

  // States
  &:hover,
  &.hovered {
    background-color: $btn-bg-color-hover;
    color: $btn-color;
  }

  &:active,
  &.active {
    background-color: $btn-bg-color-active;
  }

  // Sizes
  &.small {
    @include control-small;
  }

  &.medium{
    @include control-medium;
  }

  &.large {
    @include control-large;
  }

  &.long {
    min-width: $btn-min-width;
  }

  // Modifiers
  &[disabled],
  &.disabled {
    background-color: $btn-bg-color-disabled;
    color: $btn-color;
    &:hover,
    &.hovered {
      background-color: $btn-bg-color-disabled;
    }
  }

  &.btn-gray {
    background-color: $btn-bg-color-gray;
    color: $btn-color;
    &:hover,
    &.hovered{
      background-color: $btn-bg-color-gray-hover;
    }
    &:active,
    &.active{
      background-color: $btn-bg-color-gray-disabled;
    }
  }

  & + .vip-btn{
    margin-left: 1rem;
  }
}
