<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vipui-dropdown</title>
  <link rel="stylesheet" href="../vip-ui.css">
  <style>
    h3 {
      background-color: #DBDBDB;
      margin-bottom: 15px;
    }

    .demo-split {
      margin-top: 200px;
    }

  </style>
</head>
<body>
<div class="vip-row">
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix">
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu">
        <li><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix">
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu">
        <li class="active"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix">
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix" style="float: left">
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu vip-dropdown-menu-right">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="vip-row demo-split">
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix">
      <a class="vip-btn">dropdown<i class="vip-caret"></i></a>
      <ul class="vip-dropdown-menu">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown clearfix">
      <a class="vip-btn">dropdown<i class="vip-caret"></i></a>
      <ul class="vip-dropdown-menu">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>

  <div class="vip-col-3">
    <div class="vip-dropup vip-open clearfix">
      <a class="vip-btn">dropdown<i class="vip-caret"></i></a>
      <ul class="vip-dropdown-menu">
        <li class="active"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropup vip-open clearfix" style="float: left">
      <a class="vip-btn">dropdown<i class="vip-caret"></i></a>
      <ul class="vip-dropdown-menu vip-dropdown-menu-right">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
</div>

<form class="vip-form">
<div class="vip-row demo-split">
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix" >
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu">
        <li class="disabled"><a>item1</a></li>
        <li class="divider"></li>
        <li><a>item2</a></li>
        <li><a>item3</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix" style="float: left">
      <a class="vip-btn">dropdown</a>
      <ul class="vip-dropdown-menu vip-dropdown-menu-right">
        <li class="disabled"><a>item1</a></li>
        <li><a>item2</a></li>
      </ul>
    </div>
  </div>
  <div class="vip-col-3">
    <div class="vip-dropdown vip-open clearfix">
      <a class="vip-btn">dropdown<i class="vip-caret"></i></a>
      <ul class="vip-dropdown-menu">
        <li>
          <label class="vip-checkbox">
            <input type="checkbox">
            <span>item1</span></label>
        </li>
        <li>
          <label class="vip-checkbox">
            <input type="checkbox">
            <span>item2</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
</form>
</body>
</html>
